@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-4">
    <h1>Built for Travellers</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Explore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create</h2>
        <p>
            TourHub gives you an opportunity to create <strong>Tour Event.</strong>You can create a tour event. 
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join</h2>
        <p>You can join with other travellers. Also make connections through TourHub </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>Explore world with others. <strong>“Travel is the only thing you buy that makes you richer.”</strong></p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>